html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

body {
  margin: 0 auto 100px auto;
  position: relative;
  border: 1px solid transparent;
  padding: 0;
  width: 980px;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 16px;
  line-height: 1.3;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #fff;
  color: #444444; }

img {
  border: none; }

a {
  text-decoration: none;
  color: #444444; }
  a:hover {
    color: #999; }
  a.anchor {
    display: block;
    position: relative;
    top: -115px;
    visibility: hidden; }

em {
  font-weight: 600;
  font-style: normal; }

::-webkit-scrollbar {
  width: 16px; }

::-webkit-scrollbar-track {
  background: #fff; }

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
  border: 4px solid #fff; }

::-webkit-scrollbar-thumb:hover {
  background: #aaa; }

::-webkit-scrollbar-thumb:active {
  background: #888; }

#header {
  position: absolute;
  top: 20px;
  left: 63px;
  padding-top: 10px; }
  #header #logo {
    display: block;
    width: 200px;
    position: fixed; }

#mainmenu {
  font-family: 'Source Sans Pro', Arial, sans-serif;
  position: fixed;
  top: 44px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 2px solid #fff;
  border-right: 0;
  z-index: 1; }
  #mainmenu li {
    float: left;
    background: #56a3a5;
    list-style: none;
    margin: 0;
    padding: 0; }
    #mainmenu li a {
      display: block;
      padding: 4px 10px;
      font-weight: 600;
      font-size: 14px;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff; }
      #mainmenu li a:hover {
        background: #66b3b5; }
    #mainmenu li.sel {
      background: #93c8cc; }
      #mainmenu li.sel a:hover {
        background: #a0d0d4; }

#submenu {
  position: absolute;
  top: 60px;
  left: -235px;
  font-size: 16px;
  line-height: 1.4; }
  #submenu .root {
    position: fixed;
    color: #56a3a5;
    font-weight: 600; }
    #submenu .root > li {
      margin-bottom: 1em; }
  #submenu ul {
    width: 170px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    font-weight: 400; }
    #submenu ul a {
      color: #56a3a5; }
      #submenu ul a:hover {
        text-decoration: underline; }

#docnav {
  height: 20px; }
  #docnav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #83b69c;
    font-weight: 600;
    float: left; }
    #docnav ul li {
      display: inline-block; }
    #docnav ul li:not(:last-child):after {
      content: "\00a0\00a0\2192\00a0"; }
  #docnav .index {
    float: right; }
  #docnav a {
    color: #83b69c;
    font-weight: 600; }
  #docnav a:hover {
    text-decoration: underline; }

#content {
  width: 680px;
  margin-left: 260px;
  margin-top: 140px;
  position: relative; }
  #content h1 {
    clear: both;
    color: #83b69c;
    font-size: 34px;
    font-weight: 400; }
  #content h2 {
    color: #83b69c;
    font-size: 26px;
    font-weight: 400;
    margin-top: 2em; }
  #content .property {
    margin-bottom: 1.8em; }
    #content .property > dt {
      font-size: 16px;
      font-weight: 600;
      width: 170px;
      text-align: right;
      float: left;
      margin: 0; }
    #content .property > dd {
      margin: 0 0 0 190px; }
      #content .property > dd p {
        margin: .5em 0; }
    #content .property .values {
      font-size: 16px;
      margin: .5em 0 .5em 0px;
      color: #888; }
      #content .property .values dt {
        float: left;
        width: 100px; }
      #content .property .values dd {
        margin: 0; }
